<div class="basic-info-content mt-3">
    <div class="personal-info card-section">
        <div class="">
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Cum quam ipsa deleniti ipsam non quisquam laborum facere perspiciatis natus, amet facilis quasi quaerat vel. Corrupti dolores quasi vitae doloribus repellat non voluptas, maiores mollitia, odio facilis blanditiis facere ab. Atque, repellat? Placeat rerum optio eaque adipisci sint modi eligendi voluptas?</p>
        </div>
    </div>
    <div class="reserve-info card-section">
        <div class="">
            <p>Lorem, ipsum dolor sit amete perspiciatis natus, amet facilis on voluptas, maiores mollitia, odio facilis blanditiis facere ab. Atque, repellat? Placeat rerum optio eaque adipisci sint modi eligendi voluptas?</p>
        </div>
    </div>
    <div class="resource-info card-section">
        <div class="">
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Cum quam ipsa deleniti ipsam non quisquam laborum facere perspiciatis natus, amet facilis quasi quaerat vel. Corrupti dolores quasi vitae doloribus repellat non voluptas, maiores mollitia, odio facilis blanditiis facere ab. Atque, repellat? Placeat rerum optio eaque adipisci sint modi eligendi voluptas?</p>
        </div>
    </div>
</div>
